@model Chef
<div class="header">
    <p>Add Chef!</p>
</div>

<div class="breadcrum">
    <a href="/">Home</a>
</div>

<form action="AddChef" method="post">
    <div class="form-group">
        <span class="errorMessage" asp-validation-for="FristName"></span>
        <label asp-for="FristName"></label>
        <input asp-for="FristName" class="form-control">
    </div>

    <div class="form-group">
        <span class="errorMessage" asp-validation-for="LastName"></span>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control">
    </div>

    <div class="form-group">
        <span class="errorMessage" asp-validation-for="DOB"></span>
        <label asp-for="DOB"></label>
        <input asp-for="DOB" class="form-control">
    </div>

    <button class="btn btn-primary">Add Dish</button>
</form>